<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>crear_usuario</servlet-name>
        <servlet-class>crear_usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>recordar_usuario</servlet-name>
        <servlet-class>recordar_usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inicio</servlet-name>
        <servlet-class>inicio</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>crear_usuario</servlet-name>
        <url-pattern>/crear_usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>recordar_usuario</servlet-name>
        <url-pattern>/recordar_usuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>inicio</servlet-name>
        <servlet-class>inicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inicio</servlet-name>
        <servlet-class>inicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inicio</servlet-name>
        <servlet-class>inicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inicio</servlet-name>
        <servlet-class>inicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inicio</servlet-name>
        <servlet-class>inicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inicio</servlet-name>
        <servlet-class>inicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inicio</servlet-name>
        <servlet-class>inicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inicio</servlet-name>
        <servlet-class>inicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inicio</servlet-name>
        <servlet-class>inicio</servlet-class>
    </servlet>
</web-app>
